body{
    background-color: rgb(232, 215, 160);
}
h1{
    background-color: sandybrown;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.box{
    width: 40%;
    padding: 6%;
    margin: 4%;
    background-color: sandybrown;
    float: left;
}
.small{
    width: 20%;
    padding: 6%;
    margin: 4%;
    background-color: sandybrown;
    float: right;
}
.footer{
    clear: both;
    background-color: sandybrown;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
}